.corpo-da-pagina {
    background-color:hsl(43, 89%, 38%);
}

h1 {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color:darkorchid;
}


.funcionarios {
    background-color: darkorchid;

}